@import url('/css/croppie.css');

@media (max-width: 990px) {
  .header img {
    width: 40%;
  }
  .header {
    padding: 0px 10px;
  }

  .col-playzone > .col-arrow {
    display: none;
  }

  .col-playzone > .col-simple {
    margin: 10px 0;
    padding: 0;
  }
  .col-playzone .col-simple img {
    width: 100%;
  }

  .game-step .arrow {
    margin: 0;
  }
  .step,
  .step3 {
    /* padding: 0;
    left: 0;
    margin-left: 0; */
  }
  .col-playzone-control {
    padding: 10px 0 0 0;
    height: 400px;
  }
  .step img,
  .step3 img {
    /* width: 75%; */
  }

  .step .frame-photo,
  .step3 .frame-photo {
    height: 400px;
  }

  .arrow-right {
    position: absolute;
    top: 245px;
    left: 280px;
    width: 0;
  }

  .cr-boundary {
    height: 75% !important;
  }
  .cr-boundary img {
    /* transform: none !important; */
  }

  .step3 .fillName {
    position: absolute;
    top: 338px;
    width: 100%;
    z-index: 9999;
  }

  .col-share .col-photos {
    position: absolute;
    top: 34px;
    left: 57px;
  }
  .col-share .col-photos img {
    width: 98px;
  }
  .col-share .col-share-input {
    position: absolute;
    top: 208px;
    left: 53px;
    width: 75%;
  }
  #share-input {
    width: 95%;
    height: 50px;
  }
  .col-share .col-btn-share {
    position: absolute;
    top: 395px;
    left: 53px;
  }
  .col-share .col-btn-share img {
    width: 100px;
  }
  .cr-slider {
    -webkit-appearance: none !important;
    /* border: 1px solid white; */
    width: 300px !important;
    max-width: 100% !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    background-color: transparent !important;
  }
  .croppie-container .cr-slider-wrap {
    padding: 6px 9px 0px 9px;
  }
}
